header:after {
  position absolute;
  content:" ";
  top: 0;
  width 100%;
  height 458px;
  background-color: black;
  opacity: 0.3;
  z-index: 1;
}

header h1 {
  font-size: 3rem;
  position relative;
  z-index 100;
}

main.main div.tag div.main-div:first-child,
div.filter-categories,
div.search-input,
section.post-meta:first-child
{
  display none
}

article.main-div {
  margin-top: 0!important;
  padding-top: 0!important;
}