//@require '~@temp/palette'

// colors
$textColor ?= #2c061f
$accentColor ?= #d89216
$grayTextColor ?= #374045
$lightTextColor ?= #e1d89f
$borderColor ?= #eaecef
$codeBgColor ?= #282c34
$arrowBgColor ?= #ccc
$navbarColor ?= #fff
$headerColor ?= #fff
$headerTitleColor ?= #fff
$nprogressColor ?= $accentColor

// layout
$navbarHeight ?= 1rem
$bannerHeight ?= 25rem

// responsive breakpoints
$MQWide ?= 1440px
$MQNarrow ?= 1024px
$MQMobile ?= 768px
$MQMobileNarrow ?= 480px

$contentClass = '.content'